user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

stream {
  upstream ingress_controller {
      server 192.168.3.6:{{ ingress_service_https_port }};
      server 192.168.3.7:{{ ingress_service_https_port }};
      server 192.168.3.8:{{ ingress_service_https_port }};
      server 192.168.3.9:{{ ingress_service_https_port }};
      server 192.168.3.10:{{ ingress_service_https_port }};
  }

  upstream ingress_controller_insecure {
      server 192.168.3.6:{{ ingress_service_http_port }};
      server 192.168.3.7:{{ ingress_service_http_port }};
      server 192.168.3.8:{{ ingress_service_http_port }};
      server 192.168.3.9:{{ ingress_service_http_port }};
      server 192.168.3.10:{{ ingress_service_http_port }};
  }

  server {
      listen 80;
      proxy_pass ingress_controller_insecure;
  }

  server {
      listen 443;
      proxy_pass ingress_controller;
  }
}
