*.log
*.iml

yarn.lock

.idea/

docs/_book
docs/version.md

code/datalab-app/coverage/
code/datalab-app/build/
code/datalab-app/dist/
code/datalab-app/src/api/version.js
code/datalab-app/src/app/version.js
node_modules/

code/provision/.vagrant
code/provision/playbooks/vault-password.txt

code/provision/playbooks/.artifacts/

code/docker/spark/spark-2\.1\.0-bin-hadoop2\.7\.tgz
code/docker/zeppelin/zeppelin-0\.7\.1-bin-all.tgz
code/docker/zeppelin/zeppelin-0\.7\.2-bin-all.tgz

code/bara/.bara/
bara-*.tgz
code/bara/lib/
