.envrc
*.log
*.iml
.DS_Store
.idea/
.vscode/

docs/_book
docs/version.md

code/workspaces/**/coverage/
code/workspaces/**/dist/
code/workspaces/**/version.js
node_modules/

code/provision/.vagrant
code/provision/playbooks/vault-password.txt
code/provision/playbooks/.artifacts/

code/bara/.bara/
bara-*.tgz
code/bara/lib/

code/infrastructure-api/dist
code/auth-service/dist

experimental/glusterfs-heketi/.vagrant
*.vdi

*.retry
.terraform
*.tfstate*

code/provision/infrastructure/vault-password\.txt

code/provision/infrastructure/group_vars/proxied\.yml

code/venv/

code/migration/src/knownUsers/knownUsers\.yml
