.envrc
*.log
*.iml
.DS_Store
.idea/
ts-build

docs/book/
docs/src/version.md
docs/mdbook

code/workspaces/**/coverage/
code/workspaces/**/dist/
code/workspaces/**/lib/
code/workspaces/bara/.bara/
code/workspaces/bara/bara-*.tgz
code/version.json
node_modules/

code/provision/.vagrant
code/provision/playbooks/vault-password.txt
code/provision/playbooks/.artifacts/

experimental/glusterfs-heketi/.vagrant
*.vdi

*.retry
.terraform
*.tfstate*

code/provision/infrastructure/vault-password\.txt

code/provision/infrastructure/group_vars/proxied\.yml

code/venv/
