{
  "extends": [
    "airbnb",
    "react-app"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "linebreak-style": [
      "off"
    ],
    "max-len": [
      "error",
      200,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false
      }
    ],
    "no-console": [
      "off"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-use-before-define": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
