{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "import/no-named-default": "off",
    "linebreak-style": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "prefer-promise-reject-errors": "off",
    "max-len": [
      "error",
      200,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/**.spec.js"
        ]
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "no-warning-comments": "warn"
  }
}