---
- name: Create temporary helm chart directory
  file: path={{ chart_directory }} state=directory

- name: Create the Prometheus Operator Helm values file from template
  template:
    src: values.yml.j2
    dest: "{{ chart_directory }}/values.yml"
    force: yes

- name: Helm repo update
  command: "helm repo update"

- name: Install Prometheus Operator Helm Chart
  command: "helm upgrade --install prometheus-operator --tls --namespace prometheus stable/prometheus-operator --debug -f {{ chart_directory }}/values.yml"

- name: Delete temporary helm chart directory
  file: path={{ tmp_directory }} state=absent
